# Dependencies
/node_modules/

# Build artifacts
/public/assets/css/tailwind.css

# Environment variables
# This file contains sensitive credentials and should not be checked into version control.
/.env

# Log files
*.log
npm-debug.log*
